{% trans_default_domain 'NucleosProfileBundle' %}

<div class="nucleos_profile_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
