{% trans_default_domain 'NucleosProfileBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form, {'method': 'post', 'action': path('nucleos_profile_registration_register'), 'attr': {'class': 'nucleos_profile_registration_register'}}) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
        </div>
    </div>
{{ form_end(form) }}
